.navbar {
  background-color: #f8f9fa;
}

.navbar-brand {
  margin-left: 1rem;
  font-weight: 500;
}

.btnJoin1 {
  margin-right: 1rem;
  border: 1px solid #c54d92;
  color: #c54d92;
}

.btnJoin1:hover {
  background-color: #c54d92;
  border: 1px solid #c54d92;
  color: white;
}
